@page
@model IndexModel
@{
    ViewData["Title"] = "PELÍCULAS";
}

<div class="text-center">
    <h1 class="display-3">BIENVENIDO</h1>
    <p>
        El cine como espectáculo inició en 1895 en París. Ha sufrido diversos cambios a lo largo de la historia,
        evolucionando así la tecnología,pasando desde el cine mudo hasta el digital, con la sociedad y con el lenguaje.
    </p>
</div>


<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="./NewFolder/inicio.jpg" alt="First slide">
        </div>
    </div>
</div>

